/* CSS for the Layout */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.content {
  flex: 1; /* Allows content to take up available space */
  padding: 20px; /* Add padding as needed */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Fixed positioning */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the social icons */
  align-items: center;
}

/* Style for social icons */
.social-icon {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icon:hover {
  opacity: 0.8;
}
